<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SisATU.Servicios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SisATU.Servicios.Properties.Settings>
            <setting name="SisATU_Servicios_ServiceATU_Servicio_ATU" serializeAs="String">
                <value>http://sistemas.atu.gob.pe/ServiciosATU2/servicio_atu.asmx</value>
            </setting>
            <setting name="SisATU_Servicios_Servicio_STD_Servicio_STD" serializeAs="String">
                <value>http://sistemas.atu.gob.pe/ServiciosATU2/Servicio_STD.asmx</value>
            </setting>
        </SisATU.Servicios.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>