<div class="footer">
    <div style="width:30%" class="pull-left">
        <strong>Copyright</strong> ATU  @DateTime.Now.Year
    </div>
    <div style="width:40%;text-align:center;font-weight:bold" class="pull-left colorLetraATU">
        Horario de atencíon de Lunes a Viernes de 10:00 AM. a 7:00 PM.
    </div>
    <div class="pull-left" style="width:30%;text-align:right">
        Todos los derechos reservados
    </div>
</div>
